xroad-catalog-collector/src/main/resources/schema/metaservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://metadata.x-road.eu/"
                  xmlns:meta="http://metadata.x-road.eu/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:id="http://x-road.eu/xsd/identifiers"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
    <wsdl:types>
        <xs:schema targetNamespace="http://x-road.eu/xsd/xroad.xsd" elementFormDefault="qualified">
            <xs:include schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            <xs:include schemaLocation="list-clients.xsd"/>
            <xs:import namespace="http://x-road.eu/xsd/identifiers"
                       schemaLocation="http://x-road.eu/xsd/identifiers.xsd"/>

            <xs:element name="listMethods">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="allowedMethods">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listMethodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="service"
                                    type="id:XRoadServiceIdentifierType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="allowedMethodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="service"
                                    type="id:XRoadServiceIdentifierType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWsdl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="serviceVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWsdlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="serviceVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOpenAPI">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="serviceVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOpenAPIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="serviceVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="listMethodsResponse">
        <wsdl:part name="listMethodsResponse" element="xrd:listMethodsResponse"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="listMethods">
        <wsdl:part name="listMethods" element="xrd:listMethods"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="allowedMethodsResponse">
        <wsdl:part name="allowedMethodsResponse" element="xrd:allowedMethodsResponse"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="allowedMethods">
        <wsdl:part name="allowedMethods" element="xrd:allowedMethods"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="getWsdl">
        <wsdl:part name="getWsdl" element="xrd:getWsdl"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="getOpenAPI">
        <wsdl:part name="getOpenAPI" element="xrd:getOpenAPI"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="getWsdlResponse">
        <wsdl:part name="getWsdlResponse" element="xrd:getWsdlResponse"/>
        <!-- the wsdl is returned as an attachment -->
        <wsdl:part name="wsdl" type="xs:base64Binary"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="getOpenAPIResponse">
        <wsdl:part name="getOpenAPIResponse" element="xrd:getOpenAPIResponse"/>
        <!-- the wsdl is returned as an attachment -->
        <wsdl:part name="openapi" type="xs:base64Binary"/>

        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:portType name="metaServicesPort">
        <wsdl:operation name="allowedMethods">
            <wsdl:documentation>
                <meta:title>allowedMethods</meta:title>
            </wsdl:documentation>
            <wsdl:input name="allowedMethods" message="meta:allowedMethods"/>
            <wsdl:output name="allowedMethodsResponse" message="meta:allowedMethodsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listMethods">
            <wsdl:documentation>
                <meta:title>listMethods</meta:title>
            </wsdl:documentation>
            <wsdl:input name="listMethods" message="meta:listMethods"/>
            <wsdl:output name="listMethodsResponse" message="meta:listMethodsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWsdl">
            <wsdl:input message="meta:getWsdl" name="getWsdl"/>
            <wsdl:output message="meta:getWsdlResponse" name="getWsdlResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOpenAPI">
            <wsdl:input message="meta:getOpenAPI" name="getOpenAPI"/>
            <wsdl:output message="meta:getOpenAPIResponse" name="getOpenAPIResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="metaServicesPortSoap11" type="meta:metaServicesPort">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="allowedMethods">
            <soap:operation soapAction=""/>
            <wsdl:input name="allowedMethods">
                <soap:body parts="allowedMethods" use="literal"/>
                <soap:header message="meta:allowedMethods" part="client" use="literal"/>
                <soap:header message="meta:allowedMethods" part="service" use="literal"/>
                <soap:header message="meta:allowedMethods" part="userId" use="literal"/>
                <soap:header message="meta:allowedMethods" part="id" use="literal"/>
                <soap:header message="meta:allowedMethods" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="allowedMethodsResponse">
                <soap:body parts="allowedMethodsResponse" use="literal"/>
                <soap:header message="meta:allowedMethodsResponse" part="client" use="literal"/>
                <soap:header message="meta:allowedMethodsResponse" part="service" use="literal"/>
                <soap:header message="meta:allowedMethodsResponse" part="userId" use="literal"/>
                <soap:header message="meta:allowedMethodsResponse" part="id" use="literal"/>
                <soap:header message="meta:allowedMethodsResponse" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listMethods">
            <soap:operation soapAction=""/>
            <wsdl:input name="listMethods">
                <soap:body parts="listMethods" use="literal"/>
                <soap:header message="meta:listMethods" part="client" use="literal"/>
                <soap:header message="meta:listMethods" part="service" use="literal"/>
                <soap:header message="meta:listMethods" part="userId" use="literal"/>
                <soap:header message="meta:listMethods" part="id" use="literal"/>
                <soap:header message="meta:listMethods" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="listMethodsResponse">
                <soap:body parts="listMethodsResponse" use="literal"/>
                <soap:header message="meta:listMethodsResponse" part="client" use="literal"/>
                <soap:header message="meta:listMethodsResponse" part="service" use="literal"/>
                <soap:header message="meta:listMethodsResponse" part="userId" use="literal"/>
                <soap:header message="meta:listMethodsResponse" part="id" use="literal"/>
                <soap:header message="meta:listMethodsResponse" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWsdl">
            <soap:operation soapAction=""/>
            <wsdl:input name="getWsdl">
                <soap:body parts="getWsdl" use="literal"/>
                <soap:header message="meta:getWsdl" part="client" use="literal"/>
                <soap:header message="meta:getWsdl" part="service" use="literal"/>
                <soap:header message="meta:getWsdl" part="userId" use="literal"/>
                <soap:header message="meta:getWsdl" part="id" use="literal"/>
                <soap:header message="meta:getWsdl" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getWsdlResponse">
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body parts="getWsdlResponse" use="literal"/>
                        <soap:header message="meta:getWsdlResponse" part="client" use="literal"/>
                        <soap:header message="meta:getWsdlResponse" part="service" use="literal"/>
                        <soap:header message="meta:getWsdlResponse" part="userId" use="literal"/>
                        <soap:header message="meta:getWsdlResponse" part="id" use="literal"/>
                        <soap:header message="meta:getWsdlResponse" part="protocolVersion" use="literal"/>
                    </mime:part>
                    <mime:part>
                        <mime:content part="wsdl" type="text/xml"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOpenAPI">
            <soap:operation soapAction=""/>
            <wsdl:input name="getOpenAPI">
                <soap:body parts="getOpenAPI" use="literal"/>
                <soap:header message="meta:getOpenAPI" part="client" use="literal"/>
                <soap:header message="meta:getOpenAPI" part="service" use="literal"/>
                <soap:header message="meta:getOpenAPI" part="userId" use="literal"/>
                <soap:header message="meta:getOpenAPI" part="id" use="literal"/>
                <soap:header message="meta:getOpenAPI" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOpenAPIResponse">
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body parts="getOpenAPIResponse" use="literal"/>
                        <soap:header message="meta:getOpenAPIResponse" part="client" use="literal"/>
                        <soap:header message="meta:getOpenAPIResponse" part="service" use="literal"/>
                        <soap:header message="meta:getOpenAPIResponse" part="userId" use="literal"/>
                        <soap:header message="meta:getOpenAPIResponse" part="id" use="literal"/>
                        <soap:header message="meta:getOpenAPIResponse" part="protocolVersion" use="literal"/>
                    </mime:part>
                    <mime:part>
                        <mime:content part="openapi" type="text/xml"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="producerPortService">
        <wsdl:port name="metaServicesPortSoap11"
                   binding="meta:metaServicesPortSoap11">
            <soap:address location="http://dummy-address-replaced-elsewhere"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
