xroad-catalog-lister/src/main/resources/services.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:id="http://x-road.eu/xsd/identifiers"
                  targetNamespace="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://x-road.eu/xsd/xroad.xsd
http://x-road.eu/xsd/identifiers ">
    <wsdl:types>

        <!-- Schema for identifiers (reduced) -->
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://x-road.eu/xsd/identifiers"
                    xmlns="http://x-road.eu/xsd/identifiers">
            <xsd:simpleType name="XRoadObjectType">
                <xsd:annotation>
                    <xsd:documentation>Enumeration for X-Road identifier
                        types that can be used in requests.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MEMBER" />
                    <xsd:enumeration value="SUBSYSTEM" />
                    <xsd:enumeration value="SERVICE" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="xRoadInstance" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Identifies the X-Road instance.
                        This field is applicable to all identifier
                        types.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="memberClass" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Type of the member (company,
                        government institution, private person, etc.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="memberCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        member of given member type.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subsystemCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        subsystem of given X-Road member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        service offered by given X-Road member or
                        subsystem.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceVersion" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Version of the service.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:attribute name="objectType" type="XRoadObjectType" />
            <xsd:complexType name="XRoadClientIdentifierType">
                <xsd:sequence>
                    <xsd:element ref="xRoadInstance" />
                    <xsd:element ref="memberClass" />
                    <xsd:element ref="memberCode" />
                    <xsd:element minOccurs="0" ref="subsystemCode" />
                </xsd:sequence>
                <xsd:attribute ref="objectType" use="required" />
            </xsd:complexType>
            <xsd:complexType name="XRoadServiceIdentifierType">
                <xsd:sequence>
                    <xsd:element ref="xRoadInstance" />
                    <xsd:element ref="memberClass" />
                    <xsd:element ref="memberCode" />
                    <xsd:element minOccurs="0" ref="subsystemCode" />
                    <xsd:element ref="serviceCode" />
                    <xsd:element minOccurs="0" ref="serviceVersion" />
                </xsd:sequence>
                <xsd:attribute ref="objectType" use="required" />
            </xsd:complexType>
        </xsd:schema>

        <!-- Schema for request headers -->
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://x-road.eu/xsd/xroad.xsd"
                    elementFormDefault="qualified">

            <xsd:element name="client" type="id:XRoadClientIdentifierType" />
            <xsd:element name="service" type="id:XRoadServiceIdentifierType" />
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="protocolVersion" type="xsd:string" />
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://xroad.vrk.fi/xroad-catalog-lister">


            <xs:element name="ListMembers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="changedAfter" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <xs:element name="ListMembersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="memberList" type="tns:MemberList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetWsdl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="externalId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetWsdlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="wsdl" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOpenAPI">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="externalId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOpenAPIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="openapi" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsSoapService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="subsystemCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsSoapServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="soap" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsRestService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="subsystemCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsRestServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rest" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="xRoadInstance" type="xs:string"/>
                        <xs:element name="memberClass" type="xs:string"/>
                        <xs:element name="memberCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="provider" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="MemberList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="member" type="tns:Member"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Member">
                <xs:sequence>
                    <xs:element name="xRoadInstance" type="xs:string"/>
                    <xs:element name="memberClass" type="xs:string"/>
                    <xs:element name="memberCode" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="subsystems" type="tns:SubsystemList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SubsystemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subsystem" type="tns:Subsystem"/>
                </xs:sequence>
            </xs:complexType>


            <xs:complexType name="Subsystem">
                <xs:sequence>
                    <xs:element name="subsystemCode" type="xs:string"/>
                    <xs:element name="services" type="tns:ServiceList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ServiceList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="tns:Service"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Service">
                <xs:sequence>
                    <xs:element name="serviceCode" type="xs:string"/>
                    <xs:element name="serviceVersion" type="xs:string"/>
                    <xs:element name="wsdl" type="tns:WSDL"/>
                    <xs:element name="openapi" type="tns:OPENAPI"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WSDL">
                <xs:sequence>
                    <xs:element name="externalId" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OPENAPI">
                <xs:sequence>
                    <xs:element name="externalId" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>


    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
    </wsdl:message>

    <wsdl:message name="ListMembersResponse">
        <wsdl:part element="tns:ListMembersResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListMembers">
        <wsdl:part element="tns:ListMembers" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetWsdlResponse">
        <wsdl:part element="tns:GetWsdlResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetWsdl">
        <wsdl:part element="tns:GetWsdl" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOpenAPIResponse">
        <wsdl:part element="tns:GetOpenAPIResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOpenAPI">
        <wsdl:part element="tns:GetOpenAPI" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsSoapServiceResponse">
        <wsdl:part element="tns:IsSoapServiceResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsSoapService">
        <wsdl:part element="tns:IsSoapService" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsRestServiceResponse">
        <wsdl:part element="tns:IsRestServiceResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsRestService">
        <wsdl:part element="tns:IsRestService" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsProviderResponse">
        <wsdl:part element="tns:IsProviderResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsProvider">
        <wsdl:part element="tns:IsProvider" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServicesPort">
        <wsdl:operation name="ListMembers">
            <wsdl:input message="tns:ListMembers" name="ListMembers">
            </wsdl:input>
            <wsdl:output message="tns:ListMembersResponse" name="ListMembersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWsdl">
            <wsdl:input message="tns:GetWsdl" name="GetWsdl">
            </wsdl:input>
            <wsdl:output message="tns:GetWsdlResponse" name="GetWsdlResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOpenAPI">
            <wsdl:input message="tns:GetOpenAPI" name="GetOpenAPI">
            </wsdl:input>
            <wsdl:output message="tns:GetOpenAPIResponse" name="GetOpenAPIResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsSoapService">
            <wsdl:input message="tns:IsSoapService" name="IsSoapService">
            </wsdl:input>
            <wsdl:output message="tns:IsSoapServiceResponse" name="IsSoapServiceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsRestService">
            <wsdl:input message="tns:IsRestService" name="IsRestService">
            </wsdl:input>
            <wsdl:output message="tns:IsRestServiceResponse" name="IsRestServiceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsProvider">
            <wsdl:input message="tns:IsProvider" name="IsProvider">
            </wsdl:input>
            <wsdl:output message="tns:IsProviderResponse" name="IsProviderResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesPortSoap11" type="tns:ServicesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ListMembers">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="ListMembers">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListMembersResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWsdl">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetWsdl">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWsdlResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOpenAPI">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetOpenAPI">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOpenAPIResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsSoapService">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="IsSoapService">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="IsSoapServiceResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsRestService">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="IsRestService">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="IsRestServiceResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsProvider">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="IsProvider">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="IsProviderResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicesPortService">
        <wsdl:port binding="tns:ServicesPortSoap11" name="ServicesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>