xroad-catalog-lister/src/main/resources/services.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:id="http://x-road.eu/xsd/identifiers"
                  targetNamespace="http://xroad.vrk.fi/xroad-catalog-lister"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://x-road.eu/xsd/xroad.xsd
http://x-road.eu/xsd/identifiers ">
    <wsdl:types>

        <!-- Schema for identifiers (reduced) -->
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://x-road.eu/xsd/identifiers"
                    xmlns="http://x-road.eu/xsd/identifiers">
            <xsd:simpleType name="XRoadObjectType">
                <xsd:annotation>
                    <xsd:documentation>Enumeration for X-Road identifier
                        types that can be used in requests.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MEMBER" />
                    <xsd:enumeration value="SUBSYSTEM" />
                    <xsd:enumeration value="SERVICE" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="xRoadInstance" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Identifies the X-Road instance.
                        This field is applicable to all identifier
                        types.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="memberClass" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Type of the member (company,
                        government institution, private person, etc.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="memberCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        member of given member type.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subsystemCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        subsystem of given X-Road member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies a
                        service offered by given X-Road member or
                        subsystem.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceVersion" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Version of the service.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:attribute name="objectType" type="XRoadObjectType" />
            <xsd:complexType name="XRoadClientIdentifierType">
                <xsd:sequence>
                    <xsd:element ref="xRoadInstance" />
                    <xsd:element ref="memberClass" />
                    <xsd:element ref="memberCode" />
                    <xsd:element minOccurs="0" ref="subsystemCode" />
                </xsd:sequence>
                <xsd:attribute ref="objectType" use="required" />
            </xsd:complexType>
            <xsd:complexType name="XRoadServiceIdentifierType">
                <xsd:sequence>
                    <xsd:element ref="xRoadInstance" />
                    <xsd:element ref="memberClass" />
                    <xsd:element ref="memberCode" />
                    <xsd:element minOccurs="0" ref="subsystemCode" />
                    <xsd:element ref="serviceCode" />
                    <xsd:element minOccurs="0" ref="serviceVersion" />
                </xsd:sequence>
                <xsd:attribute ref="objectType" use="required" />
            </xsd:complexType>
        </xsd:schema>

        <!-- Schema for request headers -->
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://x-road.eu/xsd/xroad.xsd"
                    elementFormDefault="qualified">

            <xsd:element name="client" type="id:XRoadClientIdentifierType" />
            <xsd:element name="service" type="id:XRoadServiceIdentifierType" />
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="protocolVersion" type="xsd:string" />
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://xroad.vrk.fi/xroad-catalog-lister">


            <xs:element name="ListMembers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="startDateTime" type="xs:dateTime"/>
                        <xs:element name="endDateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <xs:element name="ListMembersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="memberList" type="tns:MemberList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetWsdl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="externalId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetWsdlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="wsdl" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOpenAPI">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="externalId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOpenAPIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="openapi" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetServiceType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="xRoadInstance" type="xs:string"/>
                        <xs:element name="memberClass" type="xs:string"/>
                        <xs:element name="memberCode" type="xs:string"/>
                        <xs:element name="serviceCode" type="xs:string"/>
                        <xs:element name="subsystemCode" type="xs:string"/>
                        <xs:element name="serviceVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetServiceTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="xRoadInstance" type="xs:string"/>
                        <xs:element name="memberClass" type="xs:string"/>
                        <xs:element name="memberCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="IsProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="provider" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOrganizations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetOrganizationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="organizationList" type="tns:OrganizationList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="OrganizationList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="organization" type="tns:Organization"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Organization">
                <xs:sequence>
                    <xs:element name="organizationType" type="xs:string"/>
                    <xs:element name="publishingStatus" type="xs:string"/>
                    <xs:element name="businessCode" type="xs:string"/>
                    <xs:element name="guid" type="xs:string"/>
                    <xs:element name="organizationNames" type="tns:OrganizationNameList"/>
                    <xs:element name="organizationDescriptions" type="tns:OrganizationDescriptionList"/>
                    <xs:element name="emails" type="tns:EmailList"/>
                    <xs:element name="phoneNumbers" type="tns:PhoneNumberList"/>
                    <xs:element name="webPages" type="tns:WebPageList"/>
                    <xs:element name="addresses" type="tns:AddressList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OrganizationNameList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="organizationName" type="tns:OrganizationName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OrganizationName">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OrganizationDescriptionList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="organizationDescription" type="tns:OrganizationDescription"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OrganizationDescription">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="EmailList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="email" type="tns:Email"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Email">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PhoneNumberList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phoneNumber" type="tns:PhoneNumber"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PhoneNumber">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="additionalInformation" type="xs:string"/>
                    <xs:element name="serviceChargeType" type="xs:string"/>
                    <xs:element name="chargeDescription" type="xs:string"/>
                    <xs:element name="prefixNumber" type="xs:string"/>
                    <xs:element name="number" type="xs:string"/>
                    <xs:element name="isFinnishServiceNumber" type="xs:boolean"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WebPageList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="webPage" type="tns:WebPage"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WebPage">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="url" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="AddressList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="address" type="tns:Address"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="subType" type="xs:string"/>
                    <xs:element name="streetAddresses" type="tns:StreetAddressList"/>
                    <xs:element name="postOfficeBoxAddresses" type="tns:PostOfficeBoxAddressList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streetAddress" type="tns:StreetAddress"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddress">
                <xs:sequence>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="streetNumber" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:string"/>
                    <xs:element name="latitude" type="xs:string"/>
                    <xs:element name="longitude" type="xs:string"/>
                    <xs:element name="coordinateState" type="xs:string"/>
                    <xs:element name="streets" type="tns:StreetList"/>
                    <xs:element name="postOffices" type="tns:StreetAddressPostOfficeList"/>
                    <xs:element name="municipalities" type="tns:StreetAddressMunicipalityList"/>
                    <xs:element name="additionalInformation" type="tns:StreetAddressAdditionalInformationList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="street" type="tns:Street"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Street">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressPostOfficeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streetAddressPostOffice" type="tns:StreetAddressPostOffice"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressPostOffice">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressAdditionalInformationList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streetAddressAdditionalInformation" type="tns:StreetAddressAdditionalInformation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressAdditionalInformation">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressMunicipalityList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streetAddressMunicipality" type="tns:StreetAddressMunicipality"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressMunicipality">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="streetAddressMunicipalityNames" type="tns:StreetAddressMunicipalityNameList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressMunicipalityNameList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streetAddressMunicipalityName" type="tns:StreetAddressMunicipalityName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StreetAddressMunicipalityName">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBoxAddress" type="tns:PostOfficeBoxAddress"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddress">
                <xs:sequence>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:string"/>
                    <xs:element name="postOfficeBoxAddressMunicipalities" type="tns:PostOfficeBoxAddressMunicipalityList"/>
                    <xs:element name="additionalInformation" type="tns:PostOfficeBoxAddressAdditionalInformationList"/>
                    <xs:element name="postOffices" type="tns:PostOfficeList"/>
                    <xs:element name="postOfficeBoxes" type="tns:PostOfficeBoxList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressMunicipalityList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBoxAddressMunicipality" type="tns:PostOfficeBoxAddressMunicipality"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressMunicipality">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="postOfficeBoxAddressMunicipalityNames" type="tns:PostOfficeBoxAddressMunicipalityNameList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressMunicipalityNameList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBoxAddressMunicipalityName" type="tns:PostOfficeBoxAddressMunicipalityName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressMunicipalityName">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressAdditionalInformationList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBoxAddressAdditionalInformation" type="tns:PostOfficeBoxAddressAdditionalInformation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxAddressAdditionalInformation">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOffice" type="tns:PostOffice"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOffice">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBoxList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="postOfficeBox" type="tns:PostOfficeBox"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PostOfficeBox">
                <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="HasOrganizationChanged">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="guid" type="xs:string"/>
                        <xs:element name="startDateTime" type="xs:dateTime"/>
                        <xs:element name="endDateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="HasOrganizationChangedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="changed" type="xs:boolean"/>
                        <xs:element name="changedValueList" type="tns:ChangedValueList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="HasCompanyChanged">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessId" type="xs:string"/>
                        <xs:element name="startDateTime" type="xs:dateTime"/>
                        <xs:element name="endDateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="HasCompanyChangedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="changed" type="xs:boolean"/>
                        <xs:element name="changedValueList" type="tns:ChangedValueList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="ChangedValueList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="changedValue" type="tns:ChangedValue"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ChangedValue">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="GetCompanies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetCompaniesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="companyList" type="tns:CompanyList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="CompanyList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="company" type="tns:Company"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Company">
                <xs:sequence>
                    <xs:element name="companyForm" type="xs:string"/>
                    <xs:element name="detailsUri" type="xs:string"/>
                    <xs:element name="businessId" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="businessAddresses" type="tns:BusinessAddressList"/>
                    <xs:element name="businessAuxiliaryNames" type="tns:BusinessAuxiliaryNameList"/>
                    <xs:element name="businessIdChanges" type="tns:BusinessIdChangeList"/>
                    <xs:element name="businessLines" type="tns:BusinessLineList"/>
                    <xs:element name="businessNames" type="tns:BusinessNameList"/>
                    <xs:element name="companyForms" type="tns:CompanyFormList"/>
                    <xs:element name="contactDetails" type="tns:ContactDetailList"/>
                    <xs:element name="languages" type="tns:LanguageList"/>
                    <xs:element name="liquidations" type="tns:LiquidationList"/>
                    <xs:element name="registeredEntries" type="tns:RegisteredEntryList"/>
                    <xs:element name="registeredOffices" type="tns:RegisteredOfficeList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessAddressList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="businessAddress" type="tns:BusinessAddress"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessAddress">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="careOf" type="xs:string"/>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="postCode" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="type" type="xs:long"/>
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessAuxiliaryNameList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="businessAuxiliaryName" type="tns:BusinessAuxiliaryName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessAuxiliaryName">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="ordering" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessIdChangeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="businessIdChange" type="tns:BusinessIdChange"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessIdChange">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="reason" type="xs:string"/>
                    <xs:element name="changeDate" type="xs:string"/>
                    <xs:element name="change" type="xs:string"/>
                    <xs:element name="oldBusinessId" type="xs:string"/>
                    <xs:element name="newBusinessId" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessLineList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="businessLine" type="tns:BusinessLine"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessLine">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="ordering" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessNameList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="businessName" type="tns:BusinessName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="BusinessName">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="ordering" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CompanyFormList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="companyForm" type="tns:CompanyForm"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CompanyForm">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="type" type="xs:long"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ContactDetailList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contactDetail" type="tns:ContactDetail"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ContactDetail">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="LanguageList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="tns:Language"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Language">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="LiquidationList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="liquidation" type="tns:Liquidation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Liquidation">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="type" type="xs:long"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RegisteredEntryList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registeredEntry" type="tns:RegisteredEntry"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RegisteredEntry">
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="status" type="xs:long"/>
                    <xs:element name="register" type="xs:long"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="authority" type="xs:long"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RegisteredOfficeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registeredOffice" type="tns:RegisteredOffice"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RegisteredOffice">
                <xs:sequence>
                    <xs:element name="source" type="xs:long"/>
                    <xs:element name="ordering" type="xs:long"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="registrationDate" type="xs:dateTime"/>
                    <xs:element name="endDate" type="xs:dateTime"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="GetErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="startDateTime" type="xs:dateTime"/>
                        <xs:element name="endDateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetErrorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorLogList" type="tns:ErrorLogList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="ErrorLogList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="errorLog" type="tns:ErrorLog"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ErrorLog">
                <xs:sequence>
                    <xs:element name="message" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="xRoadInstance" type="xs:string"/>
                    <xs:element name="memberClass" type="xs:string"/>
                    <xs:element name="memberCode" type="xs:string"/>
                    <xs:element name="subsystemCode" type="xs:string"/>
                    <xs:element name="groupCode" type="xs:string"/>
                    <xs:element name="serviceCode" type="xs:string"/>
                    <xs:element name="serviceVersion" type="xs:string"/>
                    <xs:element name="securityCategoryCode" type="xs:string"/>
                    <xs:element name="serverCode" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="MemberList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="member" type="tns:Member"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Member">
                <xs:sequence>
                    <xs:element name="xRoadInstance" type="xs:string"/>
                    <xs:element name="memberClass" type="xs:string"/>
                    <xs:element name="memberCode" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="subsystems" type="tns:SubsystemList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SubsystemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subsystem" type="tns:Subsystem"/>
                </xs:sequence>
            </xs:complexType>


            <xs:complexType name="Subsystem">
                <xs:sequence>
                    <xs:element name="subsystemCode" type="xs:string"/>
                    <xs:element name="services" type="tns:ServiceList"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ServiceList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="tns:Service"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Service">
                <xs:sequence>
                    <xs:element name="serviceCode" type="xs:string"/>
                    <xs:element name="serviceVersion" type="xs:string"/>
                    <xs:element name="serviceType" type="xs:string"/>
                    <xs:element name="wsdl" type="tns:WSDL"/>
                    <xs:element name="openapi" type="tns:OPENAPI"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WSDL">
                <xs:sequence>
                    <xs:element name="externalId" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OPENAPI">
                <xs:sequence>
                    <xs:element name="externalId" type="xs:string"/>
                    <xs:element name="created" type="xs:dateTime"/>
                    <xs:element name="changed" type="xs:dateTime"/>
                    <xs:element name="fetched" type="xs:dateTime"/>
                    <xs:element name="removed" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>


    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
    </wsdl:message>

    <wsdl:message name="ListMembersResponse">
        <wsdl:part element="tns:ListMembersResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListMembers">
        <wsdl:part element="tns:ListMembers" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetWsdlResponse">
        <wsdl:part element="tns:GetWsdlResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetWsdl">
        <wsdl:part element="tns:GetWsdl" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOpenAPIResponse">
        <wsdl:part element="tns:GetOpenAPIResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOpenAPI">
        <wsdl:part element="tns:GetOpenAPI" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetServiceTypeResponse">
        <wsdl:part element="tns:GetServiceTypeResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetServiceType">
        <wsdl:part element="tns:GetServiceType" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsProviderResponse">
        <wsdl:part element="tns:IsProviderResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IsProvider">
        <wsdl:part element="tns:IsProvider" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOrganizationsResponse">
        <wsdl:part element="tns:GetOrganizationsResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOrganizations">
        <wsdl:part element="tns:GetOrganizations" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasOrganizationChangedResponse">
        <wsdl:part element="tns:HasOrganizationChangedResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasOrganizationChanged">
        <wsdl:part element="tns:HasOrganizationChanged" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCompaniesResponse">
        <wsdl:part element="tns:GetCompaniesResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCompanies">
        <wsdl:part element="tns:GetCompanies" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasCompanyChangedResponse">
        <wsdl:part element="tns:HasCompanyChangedResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasCompanyChanged">
        <wsdl:part element="tns:HasCompanyChanged" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetErrorsResponse">
        <wsdl:part element="tns:GetErrorsResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetErrors">
        <wsdl:part element="tns:GetErrors" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServicesPort">
        <wsdl:operation name="ListMembers">
            <wsdl:input message="tns:ListMembers" name="ListMembers">
            </wsdl:input>
            <wsdl:output message="tns:ListMembersResponse" name="ListMembersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWsdl">
            <wsdl:input message="tns:GetWsdl" name="GetWsdl">
            </wsdl:input>
            <wsdl:output message="tns:GetWsdlResponse" name="GetWsdlResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOpenAPI">
            <wsdl:input message="tns:GetOpenAPI" name="GetOpenAPI">
            </wsdl:input>
            <wsdl:output message="tns:GetOpenAPIResponse" name="GetOpenAPIResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetServiceType">
            <wsdl:input message="tns:GetServiceType" name="GetServiceType">
            </wsdl:input>
            <wsdl:output message="tns:GetServiceTypeResponse" name="GetServiceTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsProvider">
            <wsdl:input message="tns:IsProvider" name="IsProvider">
            </wsdl:input>
            <wsdl:output message="tns:IsProviderResponse" name="IsProviderResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOrganizations">
            <wsdl:input message="tns:GetOrganizations" name="GetOrganizations">
            </wsdl:input>
            <wsdl:output message="tns:GetOrganizationsResponse" name="GetOrganizationsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasOrganizationChanged">
            <wsdl:input message="tns:HasOrganizationChanged" name="HasOrganizationChanged">
            </wsdl:input>
            <wsdl:output message="tns:HasOrganizationChangedResponse" name="HasOrganizationChangedResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCompanies">
            <wsdl:input message="tns:GetCompanies" name="GetCompanies">
            </wsdl:input>
            <wsdl:output message="tns:GetCompaniesResponse" name="GetCompaniesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasCompanyChanged">
            <wsdl:input message="tns:HasCompanyChanged" name="HasCompanyChanged">
            </wsdl:input>
            <wsdl:output message="tns:HasCompanyChangedResponse" name="HasCompanyChangedResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetErrors">
            <wsdl:input message="tns:GetErrors" name="GetErrors">
            </wsdl:input>
            <wsdl:output message="tns:GetErrorsResponse" name="GetErrorsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesPortSoap11" type="tns:ServicesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ListMembers">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="ListMembers">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListMembersResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWsdl">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetWsdl">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWsdlResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOpenAPI">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetOpenAPI">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOpenAPIResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetServiceType">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetServiceType">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetServiceTypeResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsProvider">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="IsProvider">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="IsProviderResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOrganizations">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetOrganizations">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrganizationsResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasOrganizationChanged">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="HasOrganizationChanged">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasOrganizationChangedResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCompanies">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetCompanies">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCompaniesResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasCompanyChanged">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="HasCompanyChanged">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasCompanyChangedResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetErrors">
            <soap:operation soapAction=""/>
            <id:version>v1</id:version>
            <wsdl:input name="GetErrors">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetErrorsResponse">
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicesPortService">
        <wsdl:port binding="tns:ServicesPortSoap11" name="ServicesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>